<?=Js::script('MAX_SIZE = '.($this->MAX_SIZE).'*1048576;')?>
<?=Js::script('allow_photos = '.($this->allow_photos ? 'true' : 'false').';')?>
<? if($this->id && $this->allow_photos){ $this->fotos_in_text = true; ?>
<div class="content-right">
    <div id="fotos">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
</div>
<? } ?>

<div class="tabs tabs-lang">
    <!-- tabs -->
    <ul class="tabs-navigation">
        <li><a href="#pt" rel="" class="selected">Português</a></li>
        <li><a href="#en" rel="">Inglês</a></li>
    </ul>
</div>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? /*if($this->id){ ?>
            <li class="txt">
                <label for="">Link da notícia</label>
                <a class="txt link-noticia" href="<?=URL?>/noticias/<?=$this->form->alias->getValue()?>/" target="_blank">
                    <?=URL?>/noticias/<?=$this->form->alias->getValue()?>/
                </a>
            </li>
            <? }*/ ?>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>