    <?=$this->divfull('index')->open()?>
    <div id="slideshow-wrapper">
    <div class="slideshow" id="slideshow">
    
    <? foreach ($this->pagina->fotos as $row) { ?>
    <? $url = (bool)@$row->url ? $row->url : '#'; ?>
    <? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
    <? $img = IMG_URL.'/home/'.@$row->path;//.'?w=450&h=450'; ?>
    <!-- <a href="<?=$url?>" class="foto" <?=$target?> title="<?=@$row->titulo?>"> -->
    <div class="foto">
        <span class="img-wrapper">
        <?/*<span class="img"><img src="<?=$img?>" alt="<?=$row->titulo?>" /></span>*/?>
        <span class="img" style="background-image:url(<?=$img?>);"></span>
        </span>
    </div>
    <!-- </a> -->
    <? } ?>
	
	</div> <!-- /slideshow -->

	<div class="slide-foot">
		<ul class="idiomas-list">
            <? $langs = explode(',',SITE_LANGUAGES); $langs_desc = explode(',',SITE_LANGUAGES_DESC); ?>
            <? //$langs = array_reverse($langs); $langs_desc = array_reverse($langs_desc); ?>
            <? $i=-1; foreach($langs as $lang){ $i++; ?>
            <li><a href="?lang=<?=$lang?>" class="idiomas-<?=$lang?> <?=($lang==$this->lang)?'active':''?>" title="<?=$langs_desc[$i]?>"><?=$langs_desc[$i]?></a></li>
            <? } ?>
        </ul>

        <nav class="footer-social">
            <a href="<?=$this->dados->facebook?>" class="facebook" target="_blank" title="Facebook">Facebook</a>
            <a href="<?=$this->dados->instagram?>" class="instagram" target="_blank" title="Instagram">Instagram</a>
            <a href="<?=$this->dados->linkedin?>" class="linkedin" target="_blank" title="Linkedin">Linkedin</a>
            <a href="<?=$this->dados->pinterest?>" class="pinterest" target="_blank" title="Pinterest">Pinterest</a>
        </nav>
	</div>

    </div> <!-- /slideshow-wrapper -->
	<?=$this->divfull()->close()?>
