<?=Css::load(CSS_PATH."/admin/paginas-caracteristicas.less");?>
<?=Js::load(JS_PATH."/admin/paginas-caracteristicas.js");?>

<script type="text/javascript">
// var DIR = "<?=$this->section?>";
// var URL = "<?=URL?>";
</script>

<h3>TEXTOS CARACTERÍSTICAS</h3>

<div class="linha-tools">
    <a href="<?=URL.'/admin/caracteristicas/new/?pagina_id='.$this->id?>" class="linha-add">+ Adicionar</a>
    <input type="hidden" id="linha-pagina-id" value="<?=$this->id?>" />
</div>

<ul class="linha-list">
    <li class="title">
        <span class="linha-title">Título</span>
    </li>
    <? if($this->caracteristicas){ foreach($this->caracteristicas as $linha){ ?>
    <li>
        <a href="#" class="linha-action linha-action-del">Excluir</a>
        <?/*<a href="#" class="linha-action linha-action-save">Salvar</a>*/?>
        
        <a href="<?=URL.'/admin/caracteristicas/edit/'.$linha->id?>/">#<?=$linha->ordem?>: <?=$linha->titulo?></a>
        <input type="hidden" class="linha-id" name="linha-id[]" value="<?=$linha->id?>" />
    </li>
    <? }} ?>
</ul>

<div class="linha-tools">
    <div class="linha-status"><ul></ul></div>
</div>