    <div id="pagina">
        <div class="right">
            <?=$this->translateDb($this->pagina,'body')?>
        </div>

        <? if((bool)$this->pagina->fotos){ ?>
        <div class="left">
            <? foreach ($this->pagina->fotos as $foto) { ?>
            <img src="<?=URL.'/public/images/paginas/'.$foto->path?>" alt="">
            <? } ?>
        </div>
        <? } ?>
    </div>