<?=Js::script('MAX_SIZE = '.($this->MAX_SIZE).'*1048576;')?>

<div class="content-right">
<? if($this->id){ ?>
<?/*<div id="fotos_fixas">
    <?=$this->render('paginas/fotos-fixas.phtml');?>
</div>*/?>
<?/*<div id="fotos_fixas" class="fotos_fixas">
    <?=$this->render('paginas/fotos-fixas-pt.phtml');?>
</div>*/?>
<?/*<div id="fotos_fixas" class="fotos_fixas tab-lang tab-lang-en">
    <?=$this->render('paginas/fotos-fixas-en.phtml');?>
</div>*/?>
<? } ?>
</div>

<div class="tabs tabs-lang">
    <!-- tabs -->
    <ul class="tabs-navigation">
        <li><a href="#pt" rel="" class="selected">Português</a></li>
        <li><a href="#en" rel="">Inglês</a></li>
    </ul>
</div>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class").' '.$elm->getId()?>" id="li-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                <?=$elm->render();?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>

<? if($this->id){ ?>
<!--<div class="content-right">-->
    <div id="fotos" class="fotos-produtos fotos-portfolio">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
<!--</div>-->
<? } ?>