    <div id="midia" class="centro">
        <h1 class="titulo"><?=$this->translate('menu_midia')?></h1>

        <nav class="midias-categorias">
            <a href="<?=URL?>/midia/clipping" class="active"><?=$this->translate('menu_midia_clipping')?></a>
            <a href="<?=URL?>/midia/materias"><?=$this->translate('menu_midia_materias')?></a>
            <a href="<?=URL?>/midia/videos"><?=$this->translate('menu_midia_videos')?></a>
        </nav>

        <div class="clipping-lista">
            <? $img_path = URL.'/public/images/clippings/'; ?>
            <? $i=0; foreach ($this->rows as $row) { $i++; ?>
            <a href="<?=$img_path.$row->capa->path?>" class="clipping-thumb" rel="clipping<?=$i?>">
                <img src="<?=URL.'/img/clippings:'.$row->capa->path?>?w=360&h=450" alt="">
                <div class="overlay">
                    <p>
                        <?=$this->translateDb($row,'titulo')?>
                        <?=((bool)$row->cliente)?' - '.$row->cliente:''?>
                    </p>
                </div>
            </a>
            <div class="hidden-gallery">
                <? foreach ($row->fotos as $foto){ ?>
                <? if($foto->flag!='1'){ ?>
                <a href="<?=$img_path.$foto->path?>" class="clipping-thumb" rel="clipping<?=$i?>">
                    <img src="<?=$img_path.$foto->path?>" alt="">
                </a>
                <? } ?>
                <? } ?>
            </div>
            <? } ?>
        </div>

        <?=($this->pagination->total > $this->pagination->limit) ? $this->pagination->render(false,'paginacao','active') : ''?>
    </div>