<div id="midia">
	<? if(!(bool)$this->rows){ ?>
	<p class="projetos-empty">
		<?=$this->translate('erro_sem_registros')?>
	</p>
	<? } else { // /if rows ?>

	<? $i=0; foreach ($this->rows as $row) { $i++; ?>
	<? $img = midiaImg($row); ?>
	<? $url = midiaUrl($row); ?>
	<? $css = 'style="background-image:url('.$img.')"'; ?>
	<? $rel = $row->tipo_row=='clipping' ? ' rel="clipping'.$i.'"' : ''; ?>
	<? $dt = (bool)trim($row->data) ? $row->data : reset(explode(' ',$row->data_cad)); ?>
	<? $d = explode('-',$dt); ?>
	
	<a href="<?=$url?>" class="midia-row <?=$row->tipo_row?>" <?=$rel?>>
		<span class="img" <?=$css?>>
			<img src="<?=$img?>">
		</span>
		<span class="nome">
			<?=$this->translateDb($row,'titulo')?> -
			<?=$this->date($dt,'MMM')?> <?=$d[0]?>
		</span>
	</a>

	<? if($row->tipo_row=='clipping'){ ?>
	<div class="hidden-gallery">
        <? foreach ($row->fotos as $foto){ ?>
        <? if($foto->flag!='1'){ ?>
        <a href="<?=IMG_URL.'/clippings/'.$foto->path?>" class="midia-row clipping" rel="clipping<?=$i?>">
            <img src="<?=IMG_URL.'/clippings/'.$foto->path?>" alt="">
        </a>
        <? } ?>
        <? } ?>
    </div>
	<? } // /if $row->tipo_row=='cipping' ?>
	
	<? } // /foreach this->rows ?>

	<? } // /if rows ?>

	<br clear="all">
	<br clear="all">
	<br clear="all">
	<br clear="all">
</div>