<link rel="stylesheet/less" href="/anossacozinha/public/css/admin/categorias.less" />

<script>
$(document).ready(function(){
    //$("#alias").val("/dsuihfuisdfds/fdsoifdsoi/");
    //$("#alias").getAlias("#nome");
    
    $("#submit").click(function(e){
        if($.trim($("#descricao").val()).length == 0){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });
});
</script>

<form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>">
    <ul>
        <? foreach($this->form->getElements() as $elm){ ?>
        <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>">
            <? if($elm->getId() != "submit"){ ?>
            <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
            <? } ?>
            
            <?=$elm->render()?>
            
            <? if($elm->getId() == "alias"){ ?>
            <br/><span class="desc">* A URL da categoria ficará como acima.</span>
            <? } ?>
        </li>
        <? } ?>
    </ul>
    
    <input type="hidden" name="action" value="<?=$this->action?>" />
</form>