<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');;//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = Is_Str::text2keywords($this->meta_description);

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="<?=$this->lang?>">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    LANG       = "<?=$this->lang?>",
    LANGS      = <?=json_encode(explode(',',SITE_LANGUAGES))?>,
    LANGS_DESC = <?=json_encode(explode(',',SITE_LANGUAGES_DESC))?>,
    TRANSLATE  = <?=json_encode(Is_Array::toObject($this->translate_object->getMessages()))?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<div class="main main-center main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <header id="top" class="top-<?=$this->controller?>">
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
        
        <button id="mobile-toggle" type="button" role="button" class="mobile">
            <span class="lines"></span>
        </button>
        <nav class="top-menu" id="top-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>
    </header>
    
    <div id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <article><?=$this->layout()->content;?></article>
        <br clear="all" />
    </div>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <footer>
        <ul class="idiomas-list">
            <? $langs = explode(',',SITE_LANGUAGES); $langs_desc = explode(',',SITE_LANGUAGES_DESC); ?>
            <? //$langs = array_reverse($langs); $langs_desc = array_reverse($langs_desc); ?>
            <? $i=-1; foreach($langs as $lang){ $i++; ?>
            <li><a href="?lang=<?=$lang?>" class="idiomas-<?=$lang?> <?=($lang==$this->lang)?'active':''?>" title="<?=$langs_desc[$i]?>"><?=$langs_desc[$i]?></a></li>
            <? } ?>
        </ul>
        
        <nav class="footer-menu" id="footer-menu">
            <?=$this->navigation()->menu($this->menu->footer);?>
        </nav>

        <form action="<?=URL?>/contato/enviar" method="post" class="footer-contato">
            <span class="title"><?=$this->translate('contato')?></span>
            <ul class="contato-1">
                <li>
                    <input type="text" class="txt nome" name="nome" placeholder="<?=$this->translate('campo_nome')?>">
                </li>
                <li>
                    <input type="text" class="txt email" name="email" placeholder="<?=$this->translate('campo_email')?>">
                </li>
                <li>
                    <input type="text" class="txt telefone mask-cel" name="telefone" placeholder="<?=$this->translate('campo_telefone')?>">
                </li>
            </ul>
            <ul class="contato-2">
                <li>
                    <textarea name="mensagem" class="txt mensagem" placeholder="<?=$this->translate('campo_mensagem')?>"></textarea>
                </li>
                <li>
                    <a href="#" class="submit" title="<?=$this->translate('enviar')?>"><?=$this->translate('enviar')?></a>
                    <input type="submit" value="<?=$this->translate('enviar')?>" class="none">
                </li>
            </ul>
            <br clear="all">
            <span class="status"></span>
        </form>

        <nav class="footer-social">
            <a href="<?=$this->dados->facebook?>" class="facebook" target="_blank" title="Facebook">Facebook</a>
            <a href="<?=$this->dados->instagram?>" class="instagram" target="_blank" title="Instagram">Instagram</a>
            <a href="<?=$this->dados->linkedin?>" class="linkedin" target="_blank" title="Linkedin">Linkedin</a>
            <a href="<?=$this->dados->pinterest?>" class="pinterest" target="_blank" title="Pinterest">Pinterest</a>
        </nav>

        <br class="mobile-cel" clear="all">
        <nav class="footer-dados">
            <?=((bool)trim($this->dados->tel1)) ? $this->dados->tel1 : ''?>
            <?=((bool)trim($this->dados->tel1)&&(bool)trim($this->dados->tel2)) ? '|' : ''?>
            <?=((bool)trim($this->dados->tel2)) ? $this->dados->tel2 : ''?>
            - <?=$this->dados->cidade?>
            <br>
            <?=((bool)trim($this->dados2->tel1)) ? $this->dados2->tel1 : ''?>
            <?=((bool)trim($this->dados2->tel1)&&(bool)trim($this->dados2->tel2)) ? '|' : ''?>
            <?=((bool)trim($this->dados2->tel2)) ? $this->dados2->tel2 : ''?>
            - <?=$this->dados2->cidade?>
        </nav>

        <br class="mobile" clear="all">
        <span class="credits">
            &copy; <?=date("Y")?> <?=SITE_TITLE?>
            <br class="desktop">
            <?=$this->translate('copyright')?>. 
            <br class="mobile-cel">
            <br class="desktop">
            <br class="desktop">
            <a href="http://www.trupe.net" target="_blank"><?=$this->translate('trupe1')?>:</a>
            <br class="desktop">
            <a href="http://www.trupe.net" target="_blank"><?=$this->translate('trupe2')?> <img src="<?=CSS_PATH?>/img/footer_icone-trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"></a>
        </span>
    </footer>
</div>

<?=Js::$script_min($js).PHP_EOL?>

<? if(APP_ENV=='production1'){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

</body>
</html>