div.wysiwyg ul.panel li a{ height:14px }
div.wysiwyg ul.panel li a { opacity: 1.0; filter:alpha(opacity=100) }
div.wysiwyg ul.panel li a:hover { opacity: 0.50; filter:alpha(opacity=50) }
div.wysiwyg iframe { font-size:12px }

.main .content.logged form ul li { margin-bottom: 5px; }
#fotos,#arquivos { display:block;float:right;width:300px; }

.frm-paginas { float:left }

#linhadotempo { width:600px; }