    <div id="projetos" class="centro">
        <?/*<h1 class="titulo"><?=$this->translate('projetos')?></h1>

        <nav class="projetos-categorias">
            <? foreach ($this->categorias as $cat) { ?>
            <a href="<?=URL.'/projetos/'.$cat->alias?>" class="<?=($cat->id==$this->categoria)?'active':''?>">
                <?=$this->translateDb($cat,'descricao')?>
            </a>
            <? } ?>
        </nav>*/?>
        
        <? if((bool)$this->rows){ ?>
        
        <div class="projetos-lista">
            <? $class = ''; ?>
            <? $i=0; for($j=0;$j<1;$j++) foreach ($this->rows as $row) { $i++; ?>
            <? if($i==1){ $class = 'projeto-1'; } ?>
            <? if($i==2){ $class = 'projeto-2'; } ?>
            <? if($i==3){ $class = 'projeto-3'; } ?>
            <? $img = URL.'/img/projetos:'.$row->thumbnail; ?>
            <? $css = 'style=background-image:url('.$img.')'; ?>
            <a href="<?=URL.'/projeto/'.$row->alias.'/'.$row->id?>" class="projeto <?=$class?>" <?=$css?> data-i="<?=$i?>">
                <span class="img"><img src="<?=$img?>" alt=""></span>
                <div class="overlay">
                    <p class="titulo">
                        <?=$this->translateDb($row,'titulo')?>
                        <?//=((bool)$row->cliente)?' - '.$row->cliente:''?>
                    </p>
                    <span class="local">
                        <?=$this->translateDb($row,'cidade')?> -
                        <?=$this->translateDb($row,'uf')?>
                    </span>
                </div>
            </a>
            <? if($i==3){ $i = 0; } ?>
            <? } ?>
        </div>

        <?//=($this->pagination->total > $this->pagination->limit) ? $this->pagination->render(false,'paginacao','active') : ''?>

        <? if($this->pagination->total > $this->pagination->limit){ ?>
        <? $page = $this->pagination->page + 1; ?>
        <div class="bt-wrapper">
        <a href="?page=<?=$page?>" class="bt-load load-projetos" data-page="<?=$page?>" <?=($this->categoria) ? 'data-categoria="'.$this->categoria.'"' : ''?>>
            <?=$this->translate('projetos_load')?>
            <img src="<?=CSS_URL?>/img/seta-carregar.png">
        </a>
        </div>
        <? } // /if $this->pagination->total > $this->pagination->limit ?>
        

        <? } else { // /if (bool)$this->rows ?>
        <p class="projetos-empty"><?=$this->translate('erro_sem_registros')?></p>
        <div class="bt-wrapper">
        <a href="<?=URL?>/projetos" class="bt-load">
            &laquo; <?=$this->translate('voltar')?>
        </a>
        </div>
        <? } // /if (bool)$this->rows ?>
    </div>