<div class="content-text">
    <div class="dados-wrapper">
        
    <div class="dados dados-1">
        <span class="tipo">Matriz</span> <br>
        <span class="cid1"><?=$this->dados->cidade?></span> <br>
        <span class="tel"><?=$this->dados->tel1?></span> <br>
        <span class="tel"><?=$this->dados->tel2?></span> <br>
        <br>
        <span class="end"><?=$this->dados->endereco_pt?></span> <br>
        <span class="bai"><?=$this->dados->bairro_pt?></span> -
        <span class="cid"><?=$this->dados->cidade?></span> -
        <span class="uf"><?=$this->dados->estado?></span>

        <? $img = IMG_URL.((bool)trim($this->dados->foto) ? '/dados-empresa/'.$this->dados->foto : '/not-found.jpg'); ?>
        <img src="<?=$img?>" alt="" class="mobile-cel">
    </div>

    <div class="dados dados-2">
        <span class="tipo">Unidade</span> <br>
        <span class="cid1"><?=nl2br($this->dados2->cidade)?></span> <br>
        <span class="tel"><?=$this->dados2->tel1?></span> <br>
        <span class="tel"><?=$this->dados2->tel2?></span> <br>
        <br>
        <span class="end"><?=nl2br($this->dados2->endereco_pt)?></span> <br>
        <span class="bai"><?=$this->dados2->bairro_pt?></span> -
        <span class="cid"><?=$this->dados2->cidade?></span> -
        <span class="uf"><?=$this->dados2->estado?></span>

        <? $img = IMG_URL.((bool)trim($this->dados2->foto) ? '/dados-empresa/'.$this->dados2->foto : '/not-found.jpg'); ?>
        <img src="<?=$img?>" alt="" class="mobile-cel">
    </div>

    <br clear="all" />
    <br clear="all" />

    <div class="dados-img dados-img1">
        <? $img = IMG_URL.((bool)trim($this->dados->foto) ? '/dados-empresa/'.$this->dados->foto : '/not-found.jpg'); ?>
        <img src="<?=$img?>" alt="">
    </div>
    <div class="dados-img dados-img2">
        <? $img = IMG_URL.((bool)trim($this->dados2->foto) ? '/dados-empresa/'.$this->dados2->foto : '/not-found.jpg'); ?>
        <img src="<?=$img?>" alt="">
    </div>
    
    </div> <!-- /dados-wrapper -->
    
    <form action="<?=URL?>/contato/enviar" class="contato" method="post">
        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" placeholder="<?=$this->translate('campo_nome')?>" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" class="txt required" placeholder="<?=$this->translate('campo_email')?>" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="<?=$this->translate('campo_telefone')?>" />
            </li>
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt required" placeholder="<?=$this->translate('campo_mensagem')?>"></textarea>
            </li>
            <li class="submit-container">
                <a href="#" class="submit"><?=$this->translate('campo_enviar')?></a>
                <p class="status"></p>
            </li>
        </ul>
    </form>

    <br clear="all" />

    <?=$this->divfull('contato')->open()?>

    <? if(ENV_PRO||1){ ?>
    <iframe id="mapa" src="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados)?>&output=embed" width="50%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    <? } ?>

    <?=$this->divfull('contato')->close()?>

    <br clear="all" />
    <br clear="all" />
</div>