<?=Js::script('MAX_SIZE = '.($this->MAX_SIZE).'*1048576;')?>

<script>
$(document).ready(function(){
    //$("#alias").val("/dsuihfuisdfds/fdsoifdsoi/");
    //$("#alias").getAlias("#nome");
    
    $('textarea.wysiwyg').wysiwyg({
        css:{fontFamily:'Arial,sans-serif',fontSize:'13px',margin:0,padding:0},
        <? if(in_array($this->alias,array('como-fazemos','quem-somos'))){ ?>
        visible:'bold,italic,underline,separator00,'+
                'removeFormat',
        <? } else { ?>
        visible:'h3,bold,italic,underline,separator00,'+
                'insertUnorderedList,insertOrderedList,indent,outdent,separator01,'+
                //'createLink<?=$this->allow_photos?",insertImage":""?>,'+
                'createLink,'+
                'separator02,undo,redo,separator03,removeFormat',
        <? } ?>
        plugins: {
            rmFormat: { rmMsWordMarkup: true }
        }
    });
    $('div.wysiwyg,div.wysiwyg iframe').css('width','600px');
    
    $("#submit").click(function(e){
        if($.trim($("#body_pt").val()).length == 0){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });
});
</script>

<div class="content-right">
<? if($this->allow_files){ ?>
<div id="arquivos">
    <?=$this->render('paginas/arquivos.phtml');?>
</div>
<? } ?>

<? if($this->allow_photos){ ?>
<div id="fotos">
    <?=$this->render('paginas/fotos.phtml');?>
    
    <? if($this->alias=='relacionamento'){ ?>
    <?=$this->render('paginas/fotos-galeria.phtml');?>
    <? } ?>
</div>
<? } ?>

<? if($this->allow_photos_fixas){ ?>
<?/*<div id="fotos_fixas">
    <?=$this->render('paginas/fotos-fixas.phtml');?>
</div>*/?>
<div id="fotos_fixas" class="fotos_fixas tab-lang tab-lang-pt">
    <?=$this->render('paginas/fotos-fixas-pt.phtml');?>
</div>
<div id="fotos_fixas" class="fotos_fixas tab-lang tab-lang-en">
    <?=$this->render('paginas/fotos-fixas-en.phtml');?>
</div>
<? } ?>

<? if($this->alias == 'quem-somos'){ ?>
<div id="clientes">
    <?=$this->render('paginas/clientes.phtml');?>
</div>
<? } ?>
</div>

<div class="tabs tabs-lang">
    <!-- tabs -->
    <ul class="tabs-navigation">
        <li><a href="#pt" rel="" class="selected">Português</a></li>
        <li><a href="#en" rel="">Inglês</a></li>
    </ul>
</div>

<div id="form-new">
    <form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>" class="frm-paginas">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>" id="li-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <br clear="all" />
            <? } ?>
        </ul>
        
        <input type="hidden" name="action" value="<?=$this->action?>" />
    </form>
</div>

<? if(in_array($this->alias, array('como-fazemos'))){ ?>
<div id="etapas">
    <?=$this->render('paginas/etapas.phtml');?>
</div>
<? } ?>