<?=Css::load(CSS_PATH."/admin/paginas-fotos-fixas.less");?>
<?=Js::load(JS_PATH."/admin/paginas-fotos-fixas.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<h3>
    <? switch($this->controller){ case 'projetos': ?>
    &raquo; THUMBNAIL
    <? break; case 'ideacao': ?>
    &raquo; IMAGEM DO VÍDEO (EN)
    <? break; default: ?>
    &raquo; FOTOS FIXAS (EN)
    <? } ?>
</h3>

<form action="<?=$this->url?>save-fotos-fixas" id="frm-fotos-fixas" enctype="multipart/form-data" method="post">

<ul id="paginas_fotos_fixas" class="list_fotos_fixas">
    <? if($this->fotos_fixas){ for($i=1;$i<=$this->fotos_fixas->qtde_fotos;$i++){ ?>
    <? $foto = $this->section.'|'.$this->fotos_fixas->{'foto'.$i.'_en'}; ?>
    <? $size = $this->fotos_fixas->{'foto'.$i.'_size_en'}; ?>
    <? $foto_size = '?w=295&h=70'; ?>
    <li class="input-image-container">
        <? if((bool)@$foto){ ?>
        <div class="image">
            <img src="<?=URL.'/img/'.$foto.$foto_size?>" alt="">
        </div>
        <input type="file" class="fileinput image" name="foto<?=$i?>_en" id="foto<?=$i?>" data-arquivo="Alterar imagem" data-button="Foto <?=$i?> (<?=$size?>)" />
        <? } else { ?>
        <input type="file" class="fileinput image" name="foto<?=$i?>_en" id="foto<?=$i?>" data-button="Foto <?=$i?> (<?=$size?>)" />
        <? } ?>
        <input type="hidden" name="foto_lang" value="en">
    </li>
    <? }} ?>

    <li>
        <input type="submit" class="bt" id="submit-images" value="Salvar image<?=(int)@$this->fotos_fixas->qtde_fotos > 1 ? 'ns' : 'm'?>" />
        <input type="hidden" name="fotos_fixas_id" value="<?=$this->fotos_fixas->id?>" />
        <input type="hidden" name="fotos_fixas_qtde" value="<?=$this->fotos_fixas->qtde_fotos?>" />
        <? if($this->controller=='projetos'){ ?>
        <input type="hidden" name="pagina_id" value="<?=$this->portfolio_pagina_id?>" />
        <input type="hidden" name="projeto_id" value="<?=$this->id?>" />
        <? } else { ?>
        <input type="hidden" name="pagina_id" value="<?=$this->id?>" />
        <? } ?>
        <input type="hidden" name="pagina_alias" value="<?=$this->pagina->alias?>" />
    </li>
</ul>

</form>