<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />

<br clear="all" />
<h3 class="m">FOTOS MENORES</h3>

<ul id="<?=$this->section?>_fotos2" class="list_fotos2">
    <? if(count($this->fotos2)){ foreach($this->fotos2 as $foto){ ?>
    <li>
        <a href='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>' rel='gallery_group'>
            <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=90&h=90'> <? /* 3 fotos */ ?>
            <? /* <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=65&h=65'> */ ?> <? /* 4 fotos */ ?>
        </a>
        <button title="Delete" class="ui-state-default ui-corner-all file-delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" />
    </li>
    <? }} ?>
</ul>
<div id="file_upload_container2">
    <form id="file_upload2" action="<?=$this->url?>upload.json?id=<?=$this->id?>&t=2" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <button>Enviar fotos<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></button>
        <div>Enviar fotos<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></div>
        <input type="hidden" name="<?=$this->section?>_id" id="<?=$this->section?>_id2" value="<?=$this->id?>" />
    </form>
    
    <table id="file_upload_list2" cellspacing="0" width="100%">
        <!--<tr class="error"><td colspan="3">Envie até 3 fotos de no máximo 2MB cada.</td></tr>-->
    </table>
</div>