    <div id="projetos-interna" class="centro">
        <?/*<h1 class="titulo"><?=$this->translate('projetos')?></h1>*/?>

        <? $row = $this->row; ?>
        <? $img = IMG_URL.'/projetos/'.$row->thumbnail; ?>
        <? $css = 'style="background-image:url('.$img.')"'; ?>
        <div class="capa">
            <span class="img" <?=$css?>><img src="<?=$img?>" alt=""></span>
            <div class="overlay">
            <h1 class="titulo">
                <?=$this->translateDb($row,'titulo')?>
                <?//=((bool)$row->cliente)?' - '.$row->cliente:''?>
            </h1>
            <span class="local">
                <?=$this->translateDb($row,'cidade')?> -
                <?=$this->translateDb($row,'uf')?>
            </span>
            <p class="dados">
                <?=$this->translate('local')?>:
                <?=$this->translateDb($row,'local')?>,
                <?=$this->translateDb($row,'cidade')?> -
                <?=$this->translateDb($row,'uf')?>
                <br>
                <?=$this->translate('area_construida')?>:
                <?=$row->area?>
                <br>
                <?=$this->translate('ano')?>:
                <?=$row->ano?>
            </p>
            <p class="descricao"><?=nl2br($this->translateDb($row,'descricao'))?></p>
            </div>
        </div>

        <? if ((bool)$row->fotos) { ?>
        <div class="images">
            <? $class = ''; ?>
            <? $i=0; for($j=0;$j<1;$j++) foreach ($row->fotos as $foto) { ?>
            <? if($foto->path==$row->thumbnail){ continue; } $i++; ?>
            <? if($i==1){ $class = 'projeto-1'; } ?>
            <? if($i==2){ $class = 'projeto-2'; } ?>
            <? if($i==3){ $class = 'projeto-3'; } ?>
            <? $img = IMG_URL.'/projetos/'.$foto->path; ?>
            <? $css = 'style="background-image:url('.$img.')"'; ?>
            <a class="image lightbox <?=$class?>" rel="group" href="<?=$img?>" title="<?=$this->translateDb($foto,'descricao')?>" <?=$css?>>
                <span class="img"><img src="<?=$img?>" alt="<?=$this->translateDb($foto,'descricao')?>"></span>
                <span class="overlay"></span>
            </a>
            <? if($i==3){ $i = 0; } ?>
            <? } ?>
        </div>
        <? } ?>

        <?/*<a href="<?=URL?>/projetos" class="voltar"><?=$this->translate('voltar')?></a>*/?>

    </div>