<div class="search-bar">
    <form action="<?=$this->url?>/new" method="get" class="order-form">
        <!-- <input type="submit" class="bt" value="+ Adicionar" /> -->
    </form>
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "comentario"=>'Comentário contendo',
            'blog_post_id'=>'Post',
            'nome'=>'Usuário'
        ))?>
        <?=@$_POST['search-by']=='blog_post_id'?
            $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->blog_posts):
            (@$_POST['search-by']=='user_cad'?
            $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->usuarios):
            $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt')))?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>