<?=$this->render($this->section."/search.phtml");?>

<div class="<?-$this->section?> search-result">
    <? if($this->rows){ ?>
    <table>
        <thead>
            <tr>
                <td>Título</td>
                <!--<td width="400">Descrição</td>-->
                <td width="100" align="center">Cadastrado em</td>
                <td width="50" align="center">Status</td>
                <td width="50" align="center">Excluir</td>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? $data_cad = explode(" ",$row->data_cad); $data_cad = Is_Date::am2br($data_cad[0]); ?>
            <? $status = $row->status_id == 0 ? "Inativo" : "Ativo"; ?>
            <tr>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section.'/'.$this->name.'-edit/'.$row->id?>"><?=$row->nome?></a>
                </td>
                <!--<td>
                    <a href="<?=URL?>/admin/<?=$this->section.'/'.$this->name.'-edit/'.$row->id?>"><?=Is_Str::crop(strip_tags(Is_Str::br2nl($row->descricao," ")),80)?></a>
                </td>-->
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section.'/'.$this->name.'-edit/'.$row->id?>"><?=$data_cad?></a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section.'/'.$this->name.'-edit/'.$row->id?>"><?=$status?></a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/del/id/<?=$row->id?>/name/<?=$this->name?>" class="del">X</a>
                </td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>

<br clear="all" />
<?=$this->paginacao->render()?>