		<div class="posts-relacionados">
            <span class="pr-titulo"><?=$this->translate('blog_ver_outros_destaques')?></span>

            <? foreach ($this->posts_relacionados as $post) { ?>
            <? $has_foto = (bool)trim($post->foto_path); ?>
            <a href="<?=URL.'/blog/'.$post->alias.'-'.$post->id?>" class="blog-post <?=($has_foto) ? '' : 'no-img' ?>">
                <? if($has_foto){ ?>
                <? $img = URL.'/img/blogs-posts:'.$post->foto_path; ?>
                <? $css = 'style="background-image:url('.$img.')"'; ?>
                <span class="img" <?=$css?>>
                    <img src="<?=$img?>" alt="">
                </span>
                <? } ?>

                <?=$this->translateDb($post,'titulo')?>
                
                <span class="data">
                    <? $dt = explode('-',reset(explode(' ',$post->data_cad))); ?>
                   <?=$dt[2]?>
                   <?=@$this->date(implode('-', $dt),'MMM')?>
                   <?=$dt[0]?>
                </span>
            </a>
            <? } // /foreach noticias ?>
        </div>
        
        <br clear="all">