    <div id="blog" class="centro <?=(($this->noticia)) ? 'interna' : '' ?>">
        <!-- <h1 class="titulo">Blog</h1> -->

    	<? if($this->noticia) { ?>
        <div class="blog-post-interna">
            <?=$this->render('blog/post.phtml');?>
        </div>
        <? } else { ?>
        
        <? if((bool)$this->noticias_destaque){ ?>
        <div class="blog-destaques">
            <? $i=0; foreach($this->noticias_destaque as $row){ $i++; ?>
            <? $url = URL.'/blog/'.$row->alias.'-'.$row->id; ?>
            <a href="<?=$url?>" class="blog-destaque" id="blog-destaque-<?=$i?>">
                <? if((bool)$row->fotos||1){ ?>
                <? $img = IMG_URL.'/blogs-posts/'.@$row->fotos[0]->path; ?>
                <? $css = 'style="background-image:url('.$img.')"'; ?>
                <span class="img" <?=$css?>>
                    <img src="<?=$img?>">
                </span> 
                <? } // /if (bool)$row->fotos ?>
                <span class="desc-wrapper-wrapper">
                <span class="desc-wrapper">
                <span class="desc">
                   <span class="titulo">
                       <?=$this->translateDb($row,'titulo')?>
                   </span>
                   <br>
                   <br class="none">
                   <span class="data">
                       <? $dt = explode('-',reset(explode(' ',$row->data_cad))); ?>
                       <?=$dt[2]?>
                       <?=$this->date(implode('-', $dt),'MMM')?>
                       <?=$dt[0]?>
                   </span>
                </span>
                </span>
                </span>
            </a>
            <? } // /foreach this->noticias_destaque ?>
        </div>
        <? } // /if (bool)$this->noticias_destaques ?>

        <div class="blog-left">
            <? foreach ($this->noticias as $post) { ?>
            <? $has_foto = (bool)$post->fotos; ?>
            <a href="<?=URL.'/blog/'.$post->alias.'-'.$post->id?>" class="blog-post <?=($has_foto) ? '' : 'no-img' ?>">
                <? if($has_foto){ ?>
                <? $img = URL.'/img/blogs-posts:'.$post->fotos[0]->path; ?>
                <? $css = 'style="background-image:url('.$img.')"'; ?>
                <span class="img" <?=$css?>>
                    <img src="<?=$img?>" alt="">
                </span>
                <? } ?>

                <?=$this->translateDb($post,'titulo')?>
                
                <span class="data">
                    <? $dt = explode('-',reset(explode(' ',$post->data_cad))); ?>
                   <?=$dt[2]?>
                   <?=@$this->date(implode('-', $dt),'MMM')?>
                   <?=$dt[0]?>
                </span>
            </a>
            <? } // /foreach noticias ?>

            <? $this->paginacao->get_page(); if($this->paginacao->_total_pages > 1){ ?>
            <? $t = $this->paginacao->_total_pages; ?>
            <? $p = $this->paginacao->get_page(); ?>
            <div class="blog-paginacao">
                <? if($p != $t){ ?>
                <a href="?page=<?=($p+1)?>" class="anteriores">« <?=$this->translate('anteriores')?></a>
                <? } ?>
                
                <? if($p != 1){ ?>
                <a href="?page=<?=($p-1)?>" class="proximos"><?=$this->translate('proximos')?> »</a>
                <? } ?>
            </div>
            <? } ?>

        </div>
        
        <? } // /if noticia ?>

        <?=$this->render('blog/lateral.phtml')?>

        <? if($this->noticia) { ?>
        <br clear="all">
        <hr class="m">
        <?=((bool)$this->posts_relacionados) ? $this->render('blog/destaques.phtml') : ''?>
        <? } // /if noticia (2) ?>
    </div>