		<div class="sidebar">
            <?/*<form action="<?=URL?>/blog" id="blog-busca">
                <input name="busca" type="text" placeholder="<?=$this->translate('blog_busca')?>" required>
                <input type="submit">
            </form>*/?>

            <div class="sidebar-list cat">
                <?/*<h4><?=$this->translate('categorias')?></h4>*/?>
                <? $pages = $this->menu_blog->categorias->getPages(); ?>

                <ul>
                	<? foreach($pages as $page){ ?>
					<? $active = $this->alias == $page->alias; ?>
                    <li><a href="<?=$page->uri?>"><?=$page->label?></a></li>
                    <? } ?>
                </ul>
            </div>

            <div class="sidebar-list arq">
                <h4><?=$this->translate('blog_arquivo')?></h4>
                <ul>
                    <? $y = ''; $lasty = '__none__'; ?>
                    <? foreach ($this->arquivo_anos as $key => $value) { ?>
                    <? $y = reset(explode('-', $key)); ?>
                    
                    <? if($y!=$lasty){ ?>
                    <li class="ano"><?=$y?></li>
                    <? }  ?>
                    
                    <li><a href="<?=URL.'/blog/arquivo/'.$key?>"><?=$value?></a></li>
                    
                    <? $lasty = $y; ?>
                	<? } // /foreach arquivo_anos ?>
                </ul>
            </div>
        </div>