			<? $post = $this->noticia; ?>
			<div class="post interna">
                <? if((bool)$post->fotos||1){ ?>
                <? $img = IMG_URL.'/blogs-posts/'.@$post->fotos[0]->path; ?>
                <? $css = 'style="background-image:url('.$img.')"'; ?>
                <span class="img" <?=$css?>>
                    <img src="<?=$img?>">
                </span> 
                <? } // /if (bool)$post->fotos ?>

                <h2 class="desc">
                   <span class="titulo">
                       <?=$this->translateDb($post,'titulo')?>
                   </span>
                   <span class="data">
                       <? $dt = explode('-',reset(explode(' ',$post->data_cad))); ?>
                       <?=$dt[2]?>
                       <?=$this->date(implode('-', $dt),'MMM')?>
                       <?=$dt[0]?>
                   </span>
                </h2>
                
                <? /*if((bool)$post->fotos){ ?>
                <img src="<?=URL.'/img/blogs-posts:'.$post->fotos[0]->path?>" alt="">
                <? }*/ ?>
                
                <? /*if((bool)$this->translateDb($post,'olho')){ ?>
                <p class="olho-interna">
                    <?=nl2br(Is_Str::crop(strip_tags($this->translateDb($post,'olho'),'<br>'),500))?>
                </p>
                <? }*/ ?>

                <div class="texto"><?=($this->translateDb($post,'body'))?></div>
            </div>

            <?/*
            <div class="comentarios-lista" id="comentarios">
                <h4><?=$post->comentarios_count.' '.$this->translate('blog_comentarios')?></h4>
                
                <? if((bool)$this->comments){ foreach ($this->comments as $comment) { ?>
                <div class="comentario">
                    <p class="info"><?=((bool)$comment->nome) ? $comment->nome : $this->translate('anonimo')?> · <?=@$this->date($comment->data_cad,Zend_Date::DATE_LONG)?></p>
                    <p><?=$comment->comentario?></p>
                </div>
                <? }} ?>

                <?/*<div class="comentario">
                    <p class="info">Nome da Pessoa · 16 de Janeiro de 2015</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ullam excepturi porro quod debitis ut ipsa inventore, vero ipsum rem, saepe illum minus alias illo. Veritatis officia magnam quae culpa quidem totam blanditiis beatae maxime.</p>
                </div>
                <div class="comentario">
                    <p class="info">Nome da Pessoa · 16 de Janeiro de 2015</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ullam excepturi porro quod debitis ut ipsa inventore, vero ipsum rem, saepe illum minus alias illo. Veritatis officia magnam quae culpa quidem totam blanditiis beatae maxime.</p>
                </div>
                <div class="comentario">
                    <p class="info">Nome da Pessoa · 16 de Janeiro de 2015</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ullam excepturi porro quod debitis ut ipsa inventore, vero ipsum rem, saepe illum minus alias illo. Veritatis officia magnam quae culpa quidem totam blanditiis beatae maxime.</p>
                </div>//?>
            </div>

            <form action="<?=URL?>/blog/comentar" id="blog-comentario" method="post">
                <input name="nome" id="nome" type="text" placeholder="<?=$this->translate('campo_nome')?>" required>
                <input name="email" id="email" type="email" placeholder="<?=$this->translate('campo_email')?>" required>
                <textarea name="comentario" id="comentario" placeholder="<?=$this->translate('comentario')?>" required></textarea>
                <input type="hidden" name="blog_post_id" value="<?=$post->id?>">
                <span class="status"></span>
                <button type="send" class="submit"><?=$this->translate('comentar')?></button>
                <?/*<div class="g-recaptcha" data-sitekey="6LeIXwsTAAAAADWPJ1v-jWN4Ljdhhg10gF9th2Em"></div>//?>
                <?=recaptcha_get_html(RECAPTCHA_PUBLIC_KEY)?>
            </form>
            */?>

            <div class="blog-voltar">
                <a href="<?=URL?>/blog">« <?=$this->translate('voltar')?></a>
            </div>